.profile-credentials {
    background-color: black;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 30px 10px 30px;
}

.profile-credentials-details {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-credentials-container {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-credentials-password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-credentials-password {
    flex: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-credentials-password-icon {
    flex: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-credentials-value {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.profile-credentials-label {
    font-size: 14px;
    font-weight: 400;
    color: rgb(148, 148, 148);
}

.profile-credentials-status {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-credentials-status-title {
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.profile-credentials-status-label {
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
}

.profile-credentials-loader {
    background-color: black;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 30px 10px 30px;
}

@media screen and (max-width: 1080px) {
    .profile-credentials-loader {
        height: 100px;
    }
}

@media screen and (max-width: 900px) {
    .profile-credentials {
        flex-direction: column;
    }
    .profile-credentials-password-icon {
        justify-content: flex-end;
    }
    .profile-credentials-status {
        padding-bottom: 10px;
    }
}